<h1>About Me</h1>
<p>I graduated from Durham College on April 2022 with honours. During my education at Durham College, I learned about many
programming languages such as; C#, Python, C++, Java, Javascript, and PHP. As you can see from the site, I used the
knowledge I learned from DC and created this site.</p>