<h1 class="mb-5">Welcome to My Site!</h1>
<p>This site here to showcase my coding skills. This site has been coded by me with the skills I learned from my Durham College.</p>
<button id="AboutUsButton" class="btn btn-primary">Here's the github page for the site!. This github also includes my other projects.</button>