<!-- Background image -->
<body style="background-image:  url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 500vh
            background-repeat: repeat-x
            ">
            
            <h1 class="mb-5">Welcome to My Site!</h1>
           
            <button id="AboutUsButton" class="btn btn-primary">Here's the github page for the site!. This github also includes my
                other projects.</button>

<!-- Background image -->
