<!-- Text we inject -->
<div class="container">
    <h1 id="header1">These are my favorite projects</h1>
    <p>I did a lot more projects than this but these are the ones where I found challenging and learned a lot from.</p>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"></h2>
            <p class="lead"></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                style="width: 500px; height: 500px;" src="./Assets/Durak.jpg" data-holder-rendered="true">
                    <h2 class="featurette-heading">My durak game.</h2>
                    <p class="lead">Me and my group were tasked to create a fully functional durak game. It was fun to create a card game from scratch.</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading"></h2>
            <p class="lead"></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                style="width: 536px; height: 390px;" src="./assets/HelloWorld.png" data-holder-rendered="true">
                <h2 class="featurette-heading">.NET forums.</h2>
                <p class="lead">I loved creating this form. I created a database and displayed data with SQL queries. I liked it a lot.</p>
                
        </div>
    </div>
    <hr class="featurette-divider">
  


</div>